@using TourSnapProjects.Models.PublicModels;

@{
    List<FireTourModel> Items = (this.ViewBag.Items == null) ? new List<FireTourModel>() : this.ViewBag.Items;

    Int32 Page = (this.ViewBag.ActivePage == null) ? 0 : this.ViewBag.ActivePage;
    Int32 MaxPage = (this.ViewBag.MaxPage == null) ? 0 : this.ViewBag.MaxPage;
}

<div class="items-list resorts content-body">
    <div class="data line">
        <div class="content">
            @foreach(var Item in Items)
            {
                <div class="tour-item">
                    <div class="tour-content">
                        <a href="/Tours/Get/@Item.ID" class="logo">
                            <img src="~/Data/photos/@Item.Photo">
                        </a>
                        <div class="tour-caption">
                            <a href="/Tours/Get/@Item.ID" class="tour-title">@Item.Title</a>
                        </div>
                        <div class="tour-data">
                            <div class="tour-duration">с <b>@Item.StartDate</b> по <b>@Item.EndDate</b></div>
                            <div class="tour-price">
                                <span class="tour-thumb-last-price">@Item.TourPrice</span>
                                <span>→</span>
                                <span class="tour-thumb-final-price">@Item.FirePrice</span>
                                бел.руб.
                            </div>
                            <button class="about" onclick="location.href = '/Tours/Get/@Item.ID'">Подробнее</button>
                        </div>
                    </div>
                    <div class="block-background"></div>
                </div>
            }
        </div>
    </div>
    <div class="pagination">
        <div class="buttons">
            @if(Page > 0)
            {
                <button onclick="firetourTo('/Home/Actions')">В начало</button>
                <button onclick="firetourTo('/Home/Actions', @(Page - 1))">Предыдущая</button>
            } else
            {
                <button class="disabled">В начало</button>
                <button class="disabled">Предыдущая</button>
            }
            @if(Page < MaxPage)
            {
                <button onclick="firetourTo('/Home/Actions', @(Page + 1))">Следующая</button>
                <button onclick="firetourTo('/Home/Actions', @MaxPage">В конец</button>
            } else
            {
                <button class="disabled">Следующая</button>
                <button class="disabled">В конец</button>
            }
        </div>
    </div>
</div>